
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responcer App Test</title>
    <script   src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
    <script src="https://s3.amazonaws.com/abzolive1/static/responcer_app/plugins/jquery-2.1.4.min.js"></script>
    <!-- bootstrap for better look example, but not necessary -->
    <link rel="stylesheet" href="https://s3.amazonaws.com/abzolive1/static/responcer_app/plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, projection">
    <!-- Step Form Wizard plugin -->
    <link rel="stylesheet" href="https://s3.amazonaws.com/abzolive1/static/responcer_app/step-form-wizard/css/step-form-wizard-all.css" type="text/css" media="screen, projection">
    <script src="https://s3.amazonaws.com/abzolive1/static/responcer_app/step-form-wizard/js/step-form-wizard.js"></script>
    <!-- nicer scroll in steps -->
    <link rel="stylesheet" href="https://s3.amazonaws.com/abzolive1/static/responcer_app/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.min.css">
    <script src="https://s3.amazonaws.com/abzolive1/static/responcer_app/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="http://jdewit.github.io/bootstrap-timepicker/css/timepicker.less" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jdewit.github.io/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script>
        $(document).ready(function () {
          $("#wizard_example").stepFormWizard({
            height: 'auto'
          });
        })
   
        $(window).load(function () {
            /* only if you want use mcustom scrollbar */
            $(".sf-step").mCustomScrollbar({
                theme: "dark-3",
                scrollButtons: {
                    enable: true
                }
            });
        });
      
    </script>
  <script type="text/javascript">
        $(document).ready(function () {
            $('#timepicker1').timepicker();
          $('#timepicker2').timepicker();
          $('#timepicker3').timepicker();
            $( "#datepicker" ).datepicker();
        });
    </script>

    <style>
        pre {margin: 45px 0 60px;}
        h1 {margin: 60px 0 60px 0;}
        p {margin-bottom: 10px;}
    </style>
</head>
<body>
<%= render 'form_v' %>
</body>
</html>