<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
   Please click on this link to edit this incident report:
      <%= link_to 'Edit', edit_incident_url(@incident) %>
    </div>
  </body>
</html>